body {
    background-color: #b2d7f2 !important;
    font-size: 30px;
    font-family: Arial;
  padding: 0;
}

#Header {
  background-position: center;
  background-attachment: scroll, fixed, fixed;
  background-image: url(img_thebluestuff.jpg);
  background-size: 2400px;
  font-family: Arial;
}

#AboutMe {
  color: rgb(13, 0, 113);
  font-family: Arial;
}

#Experience {
  color: rgb(13, 0, 113);
  font-family: Arial;
  text-align: center;
}

#heading{
  font-family: Arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0586e3;
}

li { 
  float: left; 
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #034878; 
}

.circular--square { border-radius: 50%; }

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 0px;
}

#AboutMe.major.container.medium{
  max-width: 720px;
  font-family: Arial;
}

#Primary.card{
  display: flex;
  background: #fcfcfc;
  text-align: center;
  font-family: Arial;
}

#Eversdal.card-img-top{
  margin: 0;
  padding: 0;
  margin-left: 33%;
}

#High.card{
  display: flex;
  background: #fcfcfc;
  text-align: center;
  font-family: Arial;
}

#Stellenberg.card-img-top{
  margin: 0;
  padding: 0;
  margin-left: 33%;
}

#contact{
  /* display: flex; */
  position: absolute;
  font-family: Arial;
  padding: 0px;
  background: #fcfcfc;
  margin-top: 10%;
  margin-left: 15%;
  /* width: 60%;
  height: 50%; */
  max-width: 70%;
  max-height: 95%;
}

